ul {
    padding: 0px;
    margin: 0px;
}
.header {
    overflow: auto;
}
.header li {
    list-style-type: none;
    margin: 0px 10px;
}
.header li {
    float: left;
}
.posts {
    list-style-type: none;
}
.post {
    border: 1px solid black;
    margin: 5px 0px;
    overflow: auto;
}
.post .left,
.post .right {
    float: left;
}
.post .left img {
    width: 70px;
}
.post .vote {
    float: left;
    width: 70px; 
}
.errorList {
    color: red;
}
