<html>
    <head>
        <link rel="stylesheet" type="text/css"
              href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/main.css">
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row-fluid header">
                <div class="span6">
                    <ul>
                        {% if not user.is_authenticated %}
                            <li>
                                <a href="{% url 'login' %}?next={{ request.get_full_path}}">
                                    Login
                                </a>
                            </li>
                            <!--
                            <li>
                                <a href="">Signup</a>
                            </li>
                            -->
                        {% else %}
                            <li>
                                <a href="{% url 'posts:create_post' %}">New Post</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'posts:list_posts' %}">All posts</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if messages %}
                <div class="row-fluid messages">
                    <ul>
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'djangopoststestdemo'; 
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            }());
        </script> 
    </body> 
</html>
