<html>
    <head>
        <link rel="stylesheet" type="text/css"
              href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/main.css">
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row-fluid header">
                <div class="span6">
                    <ul>
                        {% if not user.is_authenticated %}
                            <li>
                                <a href="">Login</a>
                            </li>
                            <li>
                                <a href="">Signup</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'posts:create_post' %}">New Post</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{% url 'posts:list_posts' %}">All posts</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if messages %}
                <div class="row-fluid messages">
                    <ul>
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </body> 
</html>
