<div class="post">
    <div class="vote">
        Score:
        <br />
        {% if user.is_authenticated and not post.already_voted%}
            <a href="{{ post.get_upvote_url }}">up vote</a>
        {% endif %}
        <br />
        {{ post.get_vote_score }}
        <br />
        {% if user.is_authenticated and not post.already_voted%}
            <a href="{{ post.get_downvote_url }}">down vote</a>
        {% endif %}
    </div>
    <div class="left">
        <a href="{{ post.link }}">
            <!-- 
                determine if link is photo or not??
                right now __assume__ that all links are 
                images
            -->
            <img src="{{ post.link }}" />
        </a>
    </div>
    <div class="right">
        <h4>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h4>
        {% if post_type == 'post_detail' and post.text %}
            <p>
                {{ post.text }} 
            </p> 
        {% endif %}
        <p>
            <b>posted by: </b>{{ post.created_by }}
            {{ post.created_datetime|timesince }} ago
            <a href="{{ post.get_absolute_url }}"
                data-disqus-identifier="{{ post.get_disqus_id }}">
            </a>
        </p>
    </div>
</div>
