<div class="post">
    <div class="left">
        <a href="{{ post.link }}">
            <!-- 
                determine if link is photo or not??
                right now __assume__ that all links are 
                images
            -->
            <img src="{{ post.link }}" />
        </a>
    </div>
    <div class="right">
        <h4>
            <a href="{{ post.get_absolute_url }}">
                {{ post.title }}
            </a>
        </h4>
        <p>
            <b>posted by: </b>{{ post.created_by }}
            {{ post.created_datetime|timesince }} ago
        </p>
    </div>
</div>
