{% extends 'base.html' %}
{% block content %}
    <div class="row-fluid">
        <div class="span6">
            <form action="{% url 'posts:create_post' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <p><input type="submit" value="Send message" /></p>
            </form>
        </div>
    </div>
{% endblock %}
