{% extends 'base.html' %}
<div class="row-fluid">
    {% block content %}
        {% if post_list %}
            <div class="span6">
                <ul class="posts">
                    {% for post in post_list %}
                        <li>
                            {% include '_post.html' %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <h2>No Posts Found<h2>
        {% endif %}
    {% endblock %}
</div>
