{% extends 'base.html' %}
<div class="row-fluid">
    {% block content %}
        {% if post_list %}
            <div class="span6">
                <ul class="posts">
                    {% for post in post_list %}
                        <li>
                            {% include '_post.html' %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="{% url 'posts:list_posts' %}?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="{% url 'posts:list_posts' %}?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        {% else %}
            <h2>No Posts Found<h2>
        {% endif %}
    {% endblock %}
</div>
